*{
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
    background:azure;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 10px;
}

.slidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 350px;
    height: 100%;
    background: linear-gradient(45deg,#7293d3,#4f8efb);
    display: flex;
    flex-direction: column;
    padding: 20px 5px 0 20px;
    z-index: 100;
}
header h2{
    font-size: 32px;
    color: azure;
    padding-bottom: 5px;
}
.scrollbox{
    overflow: auto;
    padding-right: 10px;
    visibility: visible;
}
.scrollbox-inner  {
    visibility: visible;
}

.scrollbox-inner,
.scrollbox:hover{
    font-size: 16px;
    color: rgb(243, 243, 247);
}

footer h2 {
    font-size: 24px;
    color: rgba(3, 148, 220, 0.411);
    padding: 15px 0 40px;
}

.content{
    position: relative;
    left: 350px;
    width: calc(100% - 350px);
    height: 100vh;
    background: azure;
    display: flex;
}
.content form{
    font-size: 46px;
    margin: auto;
    background: linear-gradient(45deg,#7293d3,#4f8efb);
    padding: 50px 50px 50px 50px;
}
.alert {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}
